html, body, #container {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    padding-top: 50px;
}

.navbar {
    min-height: 50px;
    height: 50px;
}

#map {
    height: 100%;
    width: auto;
}

.sidebar {
    display: block;
    width: 250px;
    height: 100%;
    max-width: 100%;
    float: left;
    border: 1px solid rgba(0,0,0,.125);
}

#teams, #chat {
    padding-top: 3rem;
}

#teams .card-header, #chat .card-header {
    margin-top: -3rem;
}

#teams .card-block {
    padding: 10px;
}

.sidebar .yscroll {
    overflow-y: auto;
    height: 100%;
}

.teamlist .team {
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid grey;
}

.teamname {
    font-weight: bold;
}

.teamname .teammembers {
    font-weight: normal;
    font-size: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.team .lastmsg {
    font-size: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.lastmsg time {
    padding-right: 0.5em;
    font-size: 90%;
    color: #559;
}

.lastmsg span.sender {
    padding-right: 0.5em;
    color: #955;
}

.message.join, .message.part {
    color: #666;
}

.template {
    display: none;
}

#chat {
    width: 350px;
}

#chat #memberlist {
    max-height: 30%;
    overflow-y: auto;
}

#chat #chatlog {
    background: #eee;
    overflow-y: auto;
}

#chatlog > div {
    -webkit-flex: 0 0 auto;
    -ms-flexbox: 0 0 auto;
    flex: 0 0 auto;
}

#chatlog > div:first-child {
    margin-top: auto;
}

.flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.flex-col {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.flex-inflexible {
    -webkit-flex: 0 0 auto;
    -ms-flexbox: 0 0 auto;
    flex: 0 0 auto;
}

.flex-flexible {
    -webkit-flex: 1 1 auto;
    -ms-flexbox: 1 1 auto;
    flex: 1 1 auto;
}
